:root {
  --primary-color: burlywood;
  --secondary-color: rgb(51, 153, 131);
  --background-color: white;
  --hover-background-color: rgb(68, 39, 96);
}
/* header starts here */
.navbar {
  width: 100%;
  min-height: 10vh;
}

nav a {
  text-decoration: none;
  padding: 1rem;
  color: var(--primary-color);
  transition: color 0.5s, text-decoration 0.5s;
}

nav a.active {
  color: var(--secondary-color);
  text-decoration: underline;
}

nav a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  transition: color 0.1s, text-decoration 0.1s;
}

nav ._img {
  width: 200px;
  height: 50px;
}

.active-nav {
  background-color: var(--background-color);
  box-shadow: 1px 1px 0 grey;
  top: 0;
  left: 0;
  position: fixed;
  transition: background-color 0.8s, box-shadow 0.8s;
}

@media (max-width: 992px) {
  .navbar {
    width: 100vw;
    height: 10vh;
    padding: 1rem;
  }
  .btnHome {
    margin-right: 2rem;
  }
  .navbar {
    width: 100vw;
  }
}
@media (max-width: 810px) {
  .active-nav {
    top: 0;
    position: fixed;
  }
  .navbar {
    height: 16vh;
    margin-right: 1rem;
  }
  .btnHome {
    margin-right: 2rem;
  }
}

@media (max-width: 576px) {
  .active-nav {
    top: 0;
    position: fixed;
  }

  .navbar {
    height: 14.5vh;
  }

  button {
    margin-top: -1rem;
  }
  .active-nav {
    background-color: var(--background-color);
    box-shadow: 1px 1px 0 grey;
    top: 0;
    left: 0;
    position: fixed;
    transition: background-color 0.8s, box-shadow 0.8s;
  }
  nav .image_logo {
    width: 180px;
    border-radius: 20%;
  }

  .btnHome {
    background-color: var(--hover-background-color);
    padding: 2px;
    margin: 0.4rem 0 0.2rem 0;
    width: 6rem;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .btnHome {
    margin: 0.4rem 0 0.2rem 0;
  }
}

@media (max-width: 360px) {
  .btnHome {
    background-color: var(--hover-background-color);
    padding-left: 4px;
    margin: 0.4rem 0 0.1rem 0.2rem;
    border-radius: 10px;
  }
  nav a {
    padding: 0.1rem;
  }
  .navbar {
    height: 10vh;
  }
}
