.section-one img {
  width: 100px;
  height: 100px;
  margin-top: -2.7rem;
  background-color: rgb(0, 208, 255);
}
.section-one .para1,
.para2,
.para3 {
  padding: 2rem;
  margin-top: 1rem;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .section-one img {
    margin-top: 1rem;
  }
}
@media (max-width: 810px) {
  .section-one {
    margin-top: -3rem;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .section-one {
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
  }
  .section-one .para1,
  .para2,
  .para3 {
    padding: 0.5rem;
    margin-top: 0.1rem;
  }
}
@media (max-width: 412px) {
  .section-one .para1,
  .para2,
  .para3 {
    padding: 0.5rem;
    margin-top: 0.1rem;
  }
}

@media (max-width: 360px) {
  .section-one .para1 {
    margin-top: 0.2rem;
  }
}
